USE [master]
GO
/****** Object:  Database [RentAWeddingDress]    Script Date: 4/11/2026 4:11:33 PM ******/
CREATE DATABASE [RentAWeddingDress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentAWeddingDress', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RentAWeddingDress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentAWeddingDress_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RentAWeddingDress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentAWeddingDress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentAWeddingDress]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[BD_id] [int] IDENTITY(1,1) NOT NULL,
	[BR_id] [int] NOT NULL,
	[D_id] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BD_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingRequest]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRequest](
	[BR_id] [int] IDENTITY(1,1) NOT NULL,
	[U_id] [int] NOT NULL,
	[UserAddressID] [int] NOT NULL,
	[StartingDate] [datetime] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BR_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dress]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dress](
	[D_id] [int] IDENTITY(1,1) NOT NULL,
	[U_id] [int] NOT NULL,
	[Category_id] [int] NOT NULL,
	[SubCategory_id] [int] NOT NULL,
	[Condition] [int] NOT NULL,
	[Dtitle] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[RentPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[D_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressCategory]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressCategory](
	[Category_id] [int] IDENTITY(1,1) NOT NULL,
	[Cname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressImages]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressImages](
	[DI_id] [int] IDENTITY(1,1) NOT NULL,
	[D_id] [int] NOT NULL,
	[ImgPath] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DI_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressOccasion]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressOccasion](
	[Occasion_id] [int] IDENTITY(1,1) NOT NULL,
	[D_id] [int] NOT NULL,
	[Occasion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Occasion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressSizes]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressSizes](
	[DS_id] [int] IDENTITY(1,1) NOT NULL,
	[D_id] [int] NOT NULL,
	[Size_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Size_id] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SizeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategory_id] [int] IDENTITY(1,1) NOT NULL,
	[Category_id] [int] NOT NULL,
	[SCname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[UA_id] [int] IDENTITY(1,1) NOT NULL,
	[U_id] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UA_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/11/2026 4:11:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[U_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingRequest] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD FOREIGN KEY([BR_id])
REFERENCES [dbo].[BookingRequest] ([BR_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD FOREIGN KEY([D_id])
REFERENCES [dbo].[Dress] ([D_id])
GO
ALTER TABLE [dbo].[BookingRequest]  WITH CHECK ADD FOREIGN KEY([UserAddressID])
REFERENCES [dbo].[UserAddress] ([UA_id])
GO
ALTER TABLE [dbo].[BookingRequest]  WITH CHECK ADD FOREIGN KEY([U_id])
REFERENCES [dbo].[Users] ([U_id])
GO
ALTER TABLE [dbo].[Dress]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[DressCategory] ([Category_id])
GO
ALTER TABLE [dbo].[Dress]  WITH CHECK ADD FOREIGN KEY([SubCategory_id])
REFERENCES [dbo].[SubCategory] ([SubCategory_id])
GO
ALTER TABLE [dbo].[Dress]  WITH CHECK ADD FOREIGN KEY([U_id])
REFERENCES [dbo].[Users] ([U_id])
GO
ALTER TABLE [dbo].[DressImages]  WITH CHECK ADD FOREIGN KEY([D_id])
REFERENCES [dbo].[Dress] ([D_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DressOccasion]  WITH CHECK ADD FOREIGN KEY([D_id])
REFERENCES [dbo].[Dress] ([D_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DressSizes]  WITH CHECK ADD FOREIGN KEY([Size_id])
REFERENCES [dbo].[Sizes] ([Size_id])
GO
ALTER TABLE [dbo].[DressSizes]  WITH CHECK ADD FOREIGN KEY([D_id])
REFERENCES [dbo].[Dress] ([D_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[DressCategory] ([Category_id])
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([U_id])
REFERENCES [dbo].[Users] ([U_id])
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[BookingRequest]  WITH CHECK ADD CHECK  (([NoOfDays]>(0)))
GO
ALTER TABLE [dbo].[BookingRequest]  WITH CHECK ADD CHECK  (([Status]=(4) OR [Status]=(3) OR [Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Dress]  WITH CHECK ADD CHECK  (([Condition]>=(1) AND [Condition]<=(10)))
GO
ALTER TABLE [dbo].[Dress]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
USE [master]
GO
